<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjectiveCCallSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EEE7DCE1E30C6C7002C057F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEE7DE71E30C6C7002C057F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEE7DF21E30C6C7002C057F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
